/* customizations */
$theme-colors: (
  "red": #ff5a5a,
  "paragraph": #6984a3,
  "paragraph-light": #eaf2fd,
  "primary-light": #2f80ed0d,
  "blue-bg": #2f80ed1a,
  "darker": #111111,
  "darker-50": #6c6c6c,
  "darker-25": #f0f0f0,
);

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 5,
    ),
    7: (
      $spacer * 7,
    ),
    8: (
      $spacer * 8,
    ),
    9: (
      $spacer * 9,
    ),
    10: (
      $spacer * 10,
    ),
    11: (
      $spacer * 11,
    ),
  ),
  $spacers
);

// $enable-rounded: false;
$blue: #2f80ed;
$border-width: 2px;
